<!DOCTYPE html>
<html lang = "en">
<head>
  <meta charset = "utf-8">
  <title>CSS3</title>
  <style>
    @keyframes example {
      from {top: 0px;}
      to {top: 200px; background-color: blue;}
    }
    #animate {
      width: 100px;
      height: 100px;
      background: red;
      position: relative;
      animation-name: example;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
  </style>
</head>
<body>
  <h1> ANIMATIONS!!! </h1>
  <div id="animate"> </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  <pre>
  <code>
    div {
      width: 100px;
      height: 100px;
      background: red;
      position: relative;
      animation-name: example;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }

    @keyframes example {
      from {top: 0px;}
      to {top: 200px; background-color: blue;}
    }
  </code>
  </pre>
  <a href="/animation8">Next</a>
</body>
</html>
